@using AppSK.DAL.Entities.Enums
@model AppSK.Models.Projects.ProjectModel
@{
    ViewBag.Title = Model.Title;
}

<h2>@ViewBag.Title</h2>
<hr />
<div style="margin-top: 5px;">
    <strong>Тип проекта:</strong>
    @if (Model.Type == ProjectTypes.External)
    {
        <span>Внешний</span>
    }
    else
    {
        <span>Внутренний</span>
    }
</div>
<div style="margin-top: 5px;">
    <strong>Описание:</strong>
    @Model.Description
</div>
<div style="margin-top: 5px;">
    <strong>Инвестиции (грн):</strong>
    @Model.Investments
</div>
<div style="margin-top: 5px;">
    <strong>Дата старта:</strong>
    @Model.StartDate.ToShortDateString()
</div>
<div style="margin-top: 5px;">
    <strong>Дата завершения:</strong>
    @Model.FinishDate.ToShortDateString()
</div>
@if (Model.Mark != null)
{
    <hr />
    @Html.Partial("~/Views/Marks/_Details.cshtml", Model.Mark);
}
<hr />
@if (User.IsInRole(RoleNames.Manager))
{
    @Html.ActionLink("Редактировать", "Edit", "Projects", new { projectId = Model.Id }, new { @class = "btn-sm btn-success" })
    <span> | </span>
    @Html.ActionLink("Удалить", "Delete", "Projects", new { projectId = Model.Id }, new { @class = "btn-sm btn-danger" })
}
