@using System.Web.Mvc.Html
@using AppSK.Models.Projects
@using AppSK.DAL.Entities.Enums

@helper ProjectsList(IEnumerable<ProjectModel> projects)
{
    var Html = ((System.Web.Mvc.WebViewPage)WebPageContext.Current.Page).Html;
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Название</th>
                <th>Тип</th>
                <th>Описание</th>
                <th>Дата старта</th>
                <th>Дата конца</th>
                <th>Инвестиции (грн.)</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var p in projects)
            {
            <tr>
                <td>@p.Title</td>
                <td>
                    @if (p.Type == ProjectTypes.External)
                    {
                        <span>Внешний</span>
                    }
                    else
                    {
                        <span>Внутренний</span>
                    }
                </td>
                <td>@p.Description</td>
                <td>@p.StartDate.ToShortDateString()</td>
                <td>@p.FinishDate.ToShortDateString()</td>
                <td>@p.Investments</td>
                <td class="pull-right">
                    @Html.ActionLink("Просмотр", "Details", "Projects", new { projectId = p.Id }, new { @class = "btn-sm btn-success" })
                    @if (User.IsInRole(RoleNames.Expert))
                    {
                        @Html.ActionLink("Оценка", "ProjectDetails", "Marks", new { projectId = p.Id }, new { @class = "btn-sm btn-danger" })
                    }
                    @if (User.IsInRole(RoleNames.Manager))
                    {
                        @Html.ActionLink("Редактировать", "Edit", "Projects", new { projectId = p.Id }, new { @class = "btn-sm btn-warning" })
                        @Html.ActionLink("Удалить", "Delete", "Projects", new { projectId = p.Id }, new { @class = "btn-sm btn-danger" })
                    }
                </td>
            </tr>
            }
        </tbody>
    </table>
}