@using System.Web.Mvc.Html
@using AppSK.Models.Stocks
@using AppSK.DAL.Entities.Enums

@helper StocksList(IEnumerable<StockModel> stocks)
{
    var Html = ((System.Web.Mvc.WebViewPage)WebPageContext.Current.Page).Html;
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Код</th>
                <th>Инвестиции (грн.)</th>
                <th>Дата покупки</th>
                <th>Дата продажи</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var s in stocks)
            {
            <tr>
                <td>@s.Code</td>
                <td>@s.Investments</td>
                <td>@s.StartDate.ToShortDateString()</td>
                <td>@s.FinishDate.ToShortDateString()</td>
                <td class="pull-right">
                    @Html.ActionLink("Просмотр", "Details", "Stocks", new { stockId = s.Id }, new { @class = "btn-sm btn-success" })
                    @if (User.IsInRole(RoleNames.Expert))
                    {
                        @Html.ActionLink("Оценка", "StockDetails", "Marks", new { stockId = s.Id }, new { @class = "btn-sm btn-danger" })
                    }
                    @if (User.IsInRole(RoleNames.Manager))
                    {
                        @Html.ActionLink("Редактировать", "Edit", "Stocks", new { stockId = s.Id }, new { @class = "btn-sm btn-warning" })
                        @Html.ActionLink("Удалить", "Delete", "Stocks", new { stockId = s.Id }, new { @class = "btn-sm btn-danger" })
                    }
                </td>
            </tr>
            }
        </tbody>
    </table>
}