@model AppSK.Models.Stocks.StockModel

@if (Model.Manager != null)
{
    <div>
        <strong>Менеджер:</strong> @Model.Manager.Fullname
    </div>
}

<div>
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.EditorFor(model => model.Code, new { htmlAttributes = new { @placeholder = "Код акции", @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Code, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.EditorFor(model => model.PurchaseDate, new { htmlAttributes = new { @placeholder = "Дата покупки", @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.PurchaseDate, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.EditorFor(model => model.SaleDate, new { htmlAttributes = new { @placeholder = "Дата продажи", @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.SaleDate, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        <div>
            <input type="submit" value="Сохранить" class="btn btn-success" />
        </div>
    </div>
</div>

<script>
    $(function () {
        $('#PurchaseDate').datetimepicker();
        $('#SaleDate').datetimepicker();
    });
</script>