@using AppSK.DAL.Entities.Enums
@model AppSK.Models.Stocks.StockModel
@{
    ViewBag.Title = $"Акция {Model.Code}";
}

<h2>@ViewBag.Title</h2>
<hr />
<div>
    <strong>Дата покупки:</strong>
    @Model.StartDate.ToShortDateString()
</div>
<div>
    <strong>Дата продажи:</strong>
    @Model.FinishDate.ToShortDateString()
</div>
@if (Model.Mark != null)
{
    <hr />
    @Html.Partial("~/Views/Marks/_Details.cshtml", Model.Mark);
}
@if (User.IsInRole(RoleNames.Manager))
{
    <hr />
    @Html.ActionLink("Редактировать", "Edit", "Stocks", new { stockId = Model.Id }, new { @class = "btn-sm btn-success" })
    <span> | </span>
    @Html.ActionLink("Удалить", "Delete", "Stocks", new { stockId = Model.Id }, new { @class = "btn-sm btn-danger" })
}
