

@model AppSK.Models.Marks.MarkModel

<div>
    <h3>Оценки</h3>
    <hr />
    <div>
        <strong>NPV:</strong>
        @Model.NPV
    </div>
    <div>
        <strong>Риск:</strong>
        @Model.Risk
    </div>
    <div>
        <strong>Фактор 1:</strong>
        @Model.Factor1
    </div>
    <div>
        <strong>Фактор 2:</strong>
        @Model.Factor2
    </div>
    <div>
        <strong>Фактор 3:</strong>
        @Model.Factor3
    </div>
</div>